h1,h2,h3,h4,a
{
    font-family: constantia,Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: century gothic;
}

.bg-image{
    background-color: #2b2b2b;
    background-image: url("/img/background_of_the_abyss.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
}
.bg-mdark{
    background-color: #2b2b2b;
}
.text-mlight{
    color: #e4ebe1;
}
.nav-link, .navbar-brand{
    color: #e4ebe1;
}
.bg-connector{
    
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    opacity: 50%;
}