h1,h2,h3,h4,h5,a
{
    font-family: constantia,Verdana, Geneva, Tahoma, sans-serif;
}

footer a{
    text-decoration: none;
    color: #68458a !important;
    font-size: large;
}
footer a:hover{
    text-decoration: none;
    color: #68458a !important;
    font-size: large;
    border-bottom: #ffc547;
    border-bottom-style: solid;
    border-width: 2px;
    background-color: #2b2b2b;
}

p{
    font-family: century gothic;
}

.bg-image{
    background-color: #2b2b2b;
    background-image: url("/img/background_of_the_abyss.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
}
.bg-dark{
     background-color:#3c3c3c !important;
}
.bg-darker{
    background-color:#2b2b2b !important;
}
.bg-darkfaded{
    background-color: #2b2b2bcc !important;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 12px #2b2b2bcc;
}
.bg-spacer
{
    height: 40px;
    background-color: #2b2b2b;
    opacity: 80%;
}

.text-light{
    color: #e4ebe1 !important;    
}
.m-text-shadowed{
    text-shadow: 3px 3px 3px black;
}

.nav-link, .navbar-brand,.text-primary{
    color: #68458a !important;
}

.nav-link,.active{
    border-left: #2b2b2b;
    border-left-style: solid;
    border-bottom: #3c3c3c;
    border-bottom-style:solid;
    border-width: 2px;
}

.active{
    color: #9665c7  !important;
}

.nav-link:hover,.active:hover{
    border-bottom: #ffc547;
    border-bottom-style: solid;
    border-width: 2px;
    background-color: #2b2b2b;
}

.navbar
{
    padding-top: 0%;
    padding-bottom: 0%;
}

.card
{
    width: auto;
}
.card img{
    filter: grayscale(0.5);    
    padding: 1px;
}

.card img:hover{
    filter: grayscale(0);
    padding: 0px;
    border: 1px solid #ffc547;
}

@media screen and (min-width: 767px) {
    .nav-link{
        overflow-wrap: normal;
        width: 80px;
        text-align: center;
    }
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
}
@media screen and (max-width: 767px) {
    .nav-link{
        border-left-style: hidden;
    }
    .card {
        width: 80%;
    }
}



.bg-connector{
    
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    opacity: 50%;
}